*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conteiner{
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.h1-font{
    text-align: center;
    margin-bottom: 30px;
    margin-top: 15px;
    color: violet;
    font-family: 'Fredoka', sans-serif
}

.p-center{
    text-align: center;
    margin-bottom: 20px;
}

.persone{
    float: left;
    width: 33.3%;
    width: calc(33.3% - 2rem);
    margin: 1rem;
    background-color: black;
    color: white;
    box-shadow: 8px 8px 10px 8px lightgray;
}

.img-size{
    width: 80px;
    float: left;
    margin-right: 10px;
}

.h2-size{
    font-size: 15px;
    margin-top: 7px;
    margin-bottom: 6px;
}

.spazio{
    margin-top: 8px;
}

.color-blue{
    color: cornflowerblue;
    margin-top: 6px;
}